
	<center><%= image_tag "LAGTAG_Home.png" , :name => "usaMap" , :usemap => "#m_usaMap" , :class => "mhmh mapimg" , :border => "0" %></center> 

<map name="m_usaMap">

	<!-- A -->
	<area index="0" shape="poly" coords="216, 45, 233, 66, 232, 137, 198, 134, 199, 64" href="/shop/t/categories/accessories-square" data-toggle="popover" title="Accessories Square" data-content="&bull; Fashion Accessories &bull; Bags &bull; Jewelry" data-placement="top" data-maphilight="{"strokeColor":"0000ff","strokeWidth":5,"fillColor":"ff0000","fillOpacity":0.6}" />
	<area index="1" shape="poly" href="/shop/t/categories/top-city" title="Top City" data-placement="top" data-content="&bull; Action Figures &bull; Vintage &bull; Collectibles" coords="268, 135, 245, 134, 240, 144, 240, 163, 268, 164, 268, 173, 306, 175, 320, 163, 329, 162, 338, 156, 338, 115, 304, 115, 303, 99, 276, 96, 266, 108" />

	<area index="2" href="/shop/t/categories/artisan-market" title="Artisan Market" data-placement="top" data-content=" &bull; Handicrafts &bull; Stickers &bull; Scrape Cards"  shape="poly" coords="424, 183, 421, 165, 439, 150, 442, 135, 448, 139, 445, 144, 445, 152, 461, 166, 461, 150, 477, 160, 489, 149, 489, 133, 499, 137, 492, 143, 509, 164, 509, 183, 478, 186, 479, 201, 448, 199, 448, 183" />

	<area index="3" href="/shop/t/categories/Ladies%20Capital" title="Ladies Capital" data-placement="top" data-content=" &bull; Tops &bull; Dresses &bull; Jackets &bull; Bottoms" shape="poly" coords="540, 184, 540, 247, 570, 247, 568, 185, 558, 169, 556, 151, 549, 169" />
	
	<area index="4" href="/shop/t/categories/Amethyst%20Mt" title="Amethyst Mt" data-placement="top" data-content=" &bull; Crystals &bull; Rare Stones &bull; Feng Shui" shape="poly" coords="569, 324, 582, 281, 591, 295, 605, 268, 617, 294, 630, 281, 638, 328, 603, 335" />

	<area index="5" href="/shop/t/categories/Mens%20Turf" title="Mens Turf" data-placement="top" data-content=" &bull; T-shirts &bull; Shirts &bull; Jackets &bull; Shorts" shape="poly" coords="451, 286, 449, 238, 459, 230, 506, 227, 521, 235, 515, 242, 515, 287" />

	<area index="6" href="/shop/t/categories/Magic%20Village" title="Magic Village" data-placement="top" data-content=" &bull; Decks &bull; Magic Props &bull; DVD Tutorials" shape="poly" coords="322, 315, 335, 296, 347, 288, 356, 275, 374, 267, 385, 292, 397, 274, 414, 282, 422, 301, 371, 329, 334, 328" />

	<area  index="7" href="/shop/t/categories/arcade" title="Arcade" data-placement="top" data-content=" &bull; Doodle Wall &bull; Illustrations &bull; Games" shape="poly" coords="187, 300, 187, 268, 172, 260, 185, 241, 261, 246, 240, 275, 240, 298, 229, 303" />

	<area index="8" href="/shop/t/categories/Deals%20Town" title="Deals Town" data-placement="top" data-content=" &bull; Promo Codes &bull; Discount Vouchers" shape="poly" coords="111, 211, 117, 204, 121, 186, 129, 175, 160, 177, 163, 189, 172, 189, 189, 173, 221, 172, 221, 190, 228, 199, 210, 214, 190, 214, 185, 229, 151, 229, 142, 224, 146, 212" />


    
	
</map>






<div class="slider center" style="max-width: 90%;margin: 0 auto;">

    <div class="opac"><br/>
    	<a href="/shop/t/categories/accessories-square"><%= image_tag "accessories-square.png" , :class => "slide_img animated fadeIn" %></a>
    	<p class="slider_para" ><b>Accessories Square</b></p>
    	<p class="slider_para description" in="0">Fashion Accessories &bull; Bags &bull; Jewelry</p>
    </div>
    <div class="opac"><br/>
    	<a href="/shop/t/categories/top-city"><%= image_tag "toy-city.png" , :class => "slide_img animated fadeIn" %></a>
    	<p class="slider_para"><b>Top City</b></p>
    	<p class="slider_para description" in="1">Action Figures &bull; Vintage &bull; Collectibles </p>
   	</div>
    <div class="opac"><br/>
    	<a href="/shop/t/categories/artisan-market"><%= image_tag "artisan-market.png" , :class => "slide_img animated fadeIn" %></a>
    	<p class="slider_para"><b>Artisan Market</b></p>
    	<p class="slider_para description" in="2">Handicrafts &bull; Stickers &bull; Scrape Cards</p>
    </div>
    <div class="opac"><br/>
    	<a href="/shop/t/categories/Ladies%20Capital"><%= image_tag "ladies-capital.png" , :class => "slide_img animated fadeIn" %></a>
    	<p class="slider_para"><b>Ladies Capital</b></p>
    	<p class="slider_para description" in="3">Tops &bull; Dresses &bull; Jackets &bull; Bottoms</p>
   	</div>
   	<div class="opac"><br/>
    	<a href="/shop/t/categories/Amethyst%20Mt"><%= image_tag "amethyst-mt.png" , :class => "slide_img animated fadeIn" %></a>
    	<p class="slider_para"><b>Amethyst Mt</b></p>
    	<p class="slider_para description" in="4">Crystals &bull; Rare Stones &bull; Feng Shui </p>
    </div>
    <div class="opac"><br/>
    	<a href="/shop/t/categories/Mens%20Turf"><%= image_tag "mens-turf.png" , :class => "slide_img animated fadeIn" %></a>
    	<p class="slider_para"><b>Mens Turf</b></p>
    	<p class="slider_para description" in="5">T-shirts &bull; Shirts &bull; Jackets &bull; Shorts</p>
   	</div>
    <div class="opac"><br/>
		<a href="/shop/t/categories/Magic%20Village"><%= image_tag "magic-village.png" , :class => "slide_img animated fadeIn" %></a>
		<p class="slider_para"><b>Magic Village</b></p>
		<p class="slider_para description" in="6">Decks &bull; Magic Props &bull; DVD Tutorials</p>
	</div>
    
    <div class="opac"><br/>
		<a href="/shop/t/categories/arcade"><%= image_tag "arcade.png" , :class => "slide_img animated fadeIn" %></a>
		<p class="slider_para"><b>Arcade</b></p>
		<p class="slider_para description" in="7">Doodle Wall &bull; Illustrations &bull; Games</p>
	</div>
    
    <div class="opac"><br/>
    	<a href="/shop/t/categories/Deals%20Town"><%= image_tag "deals-town.png" , :class => "slide_img animated fadeIn" %></a>
    	<p class="slider_para"><b>Deals Town</b></p>
    	<p class="slider_para description" in="8">Promo Codes &bull; Discount Vouchers </p>
    </div>

 
   
</div>

