<!DOCTYPE html>
<html>
  <head>
    <title>Lagtagone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="background-image: url(<%= asset_path 'homepage_layout.png' %>)" class="homeimg">

    <div class="container" style="width: 100%;">

      <header id="header" class="row" data-hook>
        <figure id="logo" class="col-md-7 col-sm-7 col-xs-12 logo-figure" data-hook><a href="/" ><%= image_tag "lagtag.png" , :class => "header-logo mainlogo" %></a></figure>
        <nav id="top-nav-bar" class="col-md-4 col-sm-4 col-xs-12">
          <ul id="nav-bar" class="inline" data-hook>
            <li id="search-bar" data-hook>
              <% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
              <%= form_tag spree.products_path, method: :get do %>
                <%= search_field_tag :keywords, params[:keywords], placeholder: Spree.t(:search), class: "form-control", style: "width:65%;" %>
                <%= submit_tag Spree.t(:search), name: nil %>
              <% end %>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    
    <%= yield %>
     </div>
  </body>

</html>
